<nav id="sidebar" class="border-top border-secondary">
    <div class="list-group">
        <button type="button" value="전체" class="cate rounded-0 list-group-item list-group-item-action
            list-group-item-light {% if cate == '전체' %} active {% endif %}">전체</button>
        <button type="button" value="자유" class="cate rounded-0 list-group-item list-group-item-action
            list-group-item-light {% if cate == '자유' %} active {% endif %}">자유</button>
        <button type="button" value="정보" class="cate rounded-0 list-group-item list-group-item-action
            list-group-item-light {% if cate == '정보' %} active {% endif %}">정보</button>
        <button type="button" value="질문" class="cate rounded-0 list-group-item list-group-item-action
            list-group-item-light {% if cate == '질문' %} active {% endif %}">질문</button>
    </div>
</nav>